<div class="features-container section-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 features section-description wow fadeIn">
                <h2>Acerca del proyecto</h2>
                <p>
                    Este proyecto tiene como objetivo el control de los puntos de acceso de los diferentes equipos de computo de la empresa
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 features-box wow fadeInUp">
                <div class="features-box-icon">
                    <i class="fa fa-eye"></i>
                </div>
                <h3>Facil</h3>
                <p>Provee de un sencillo interface de acceso en tiempo real a los diferentes equipos.</p>
            </div>
            <div class="col-sm-4 features-box wow fadeInDown">
                <div class="features-box-icon">
                    <i class="fa fa-pencil"></i>
                </div>
                <h3>Sin Instalacion</h3>
                <p>No es necesaria la instalacion de ningun software adicional, con lo que es totalmente transparente al sistema.</p>
            </div>
            <div class="col-sm-4 features-box wow fadeInUp">
                <div class="features-box-icon">
                    <i class="fa fa-cloud"></i>
                </div>
                <h3>Cloud Based</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="modal-button">
                    <button class="btn" data-toggle="modal" data-target="#modal-features">Learn more</button>
                </div>
                <div class="scroll-page">
                    <a class="scroll-link" href="#testimonials"><i class="fa fa-chevron-down"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>