
<nav>
    <a class="scroll-link" href="#top-content">Inicio</a>
    <a class="scroll-link" href="#subscribe">Subscribe</a>
    <a class="scroll-link" href="#features">Proyecto EspGon</a>
    <a class="scroll-link" href="#testimonials">Testimonials</a>
    <a class="scroll-link" href="#about-us">About</a>
    <a class="scroll-link" href="#contact">Contact</a>
    <div class="hide-menu">
        <a href=""><i class="fa fa-bars"></i></a>
    </div>
</nav>