 <!-- Subscription form -->
<div class="subscribe-container section-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 subscribe section-description wow fadeIn">
                <h2>Email updates</h2>
                <p>Sign up now to our newsletter and you'll be one of the first to know when we're ready:</p>
                <form class="form-inline" role="form" action="@Url.Content("~/assets/subscribe.php")" method="post">
                    <div class="form-group">
                        <label class="sr-only" for="subscribe-email">Email address</label>
                        <input type="text" name="email" placeholder="Enter your email..." class="subscribe-email form-control" id="subscribe-email">
                    </div>
                    <button type="submit" class="btn">Subscribe</button>
                </form>
                <div class="success-message"></div>
                <div class="error-message"></div>
                <div class="scroll-page">
                    <a class="scroll-link" href="#features"><i class="fa fa-chevron-down"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>